@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Scripts/DSRScripts/DashBoardScript.js"></script>
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>



<button id="AllTask" class="btn-default">All Task</button>
<button id="MyTask" class="btn-default">My Task</button>
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table id="DashBoard" class="table table table-bordered table-condensed table-striped table-responsive">
            <thead>
                <tr>
                    <th stye="display:none">Id</th>
                    <th>Project Name</th>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Due Date</th>
                    <th>Task Status</th>
                    <th>IsActive</th>
                    <th>Assign To</th>
                    <th>Assign To Me</th>




                </tr>
            </thead>
        </table>
    </div>
</div>


