
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/DSRScripts/AssignProjectsScript.js"></script>

</head>
<body>
    <div class="container">
        <h1>Daily Status Report</h1>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <h2>Project Team</h2>

                <div class="form-group">
                    <label for="ProjectId">Project Id</label>

                    <select class="form-control" id="ProjectId">
                        <option value="" selected>select</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="UserId">User Id</label>
                    <select class="form-control" id="UserId">
                        <option value="" selected>select</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea class="form-control" id="Description"></textarea>
                </div>

                <div class="form-group">
                    <label for="IsActive">Is Active</label>
                    <input type="checkbox" id="IsActive" />
                </div>
                
                <div>
                    <button type="button" class="btn bg-primary" id="Submit">Submit</button>
                </div>
                

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    <br />


    <div class="row ">
        <div class="col-md-1">  </div>
        <div class="col-md-10">
            <table id="ProjectTeamTable"
                   class="table table-bordered table-condensed table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Edit</th>
                        <th style="display:none">Id</th>

                        <th>Project Id</th>
                        <th>User Id</th>
                        <th>Description</th>
                        <th>IsActive</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    </div>
</body>
</html>
