
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script>
        alert("Session Timed Out");
        window.location = "/Login/Index";
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>SessionExpire</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
